/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #151318;
  }

  @font-face {
    font-family: 'Agrandir';
    src: url('assets/fonts/Agrandir-WideLight.otf') format('truetype');
  } 

  @font-face {
    font-family: 'Agrandir Regular';
    src: url('assets/fonts/Agrandir-Regular.otf') format('truetype');
  }
