/* You can add global styles to this file, and also import other style files */
body,html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-bg);
  }

  @font-face {
    font-family: 'Arimo';
    src: url('assets/fonts/Arimo-VariableFont_wght.ttf') format('truetype');
  } 

  @font-face {
    font-family: 'Garet';
    src: url('assets/fonts/Garet-Book.ttf') format('truetype');
  }

  *,
*::after,
*::before {
  box-sizing: border-box;
  /* SETTINGS TO NOT MAKE THE SCROLLBAR VISIBLE */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; //* For Internet Explorer and Edge */
}

/* SETTINGS TO NOT MAKE THE SCROLLBAR VISIBLE */
*::-webkit-scrollbar {
  /*  display: none; */ /* For Chrome, Safari, and Opera */
}

  :root {
    --color-bg: #060606;
    --text-color: #ddd7d9; 
    --link-color: #ddd7d968;
    --light-blue: #6196a8;
    --dark-blue:#486e8e; 
    --light-pink: #cd5d75;
    --dark-pink: #5a1d2c;
  }
