<header>
    <div class="loveline-logo">
        <a [routerLink]="['/']">
            <img src="../../../assets/img/logo.png" alt="full logo of LoveLine">
        </a>
    </div>
    <div class="menu">
        <a [routerLink]="['/about-us']">About us <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
            </svg>
        </a>
        <a [routerLink]="['/how-it-works']">How it works <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
            </svg>
        </a>
        <a [routerLink]="['/login']">Log in <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
            </svg>
        </a>
    </div>

</header>

<section class="first">
    <div class="outer">
        <div class="inner">
            <div class="bg one">
                <h1 class="section-heading word">TRACK YOUR LOVE STORY</h1>
                <p>Create a timeline of your love story and add special moments to it.</p>
                <a>Sign up <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="second">
    <div class="outer">
        <div class="inner">
            <div class="bg">
                <h2 class="section-heading word">Experience the joy of creating a Timeline together</h2>
                <p>With Loveline, you can include the significant milestones of your love story.</p>
                <a [routerLink]="['/about-us']">More <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="third">
    <div class="outer">
        <div class="inner">
            <div class="bg">
                <h2 class="section-heading word">Preserve Your Precious Moments with Loveline</h2>
                <p> Share your timeline with your partner and relive your favorite memories together.</p>
                <a [routerLink]="['/about-us']" routerLinkActive="router-link-active">More <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="fourth">
    <div class="outer">
        <div class="inner">
            <div class="bg">
                <h2 class="section-heading word">Variety of Fun Quizzes and Games Together</h2>
                <p>Discover a collection of entertaining quizzes and games designed for couples to enjoy together.</p>
                <a [routerLink]="['/about-us']">More <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="fifth">
    <div class="outer">
        <div class="inner">
            <div class="bg">
                <div class="container-footer">
                    <div class="first-half">
                        <div>
                            <h1 class="first-half-title"> Contacts & Socials</h1>
                            <a target="_blank" href="https://www.linkedin.com/in/elena-kekic-/">Linkedin <svg
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                </svg>
                            </a>
                            <a target="_blank" href="https://github.com/Elekekic/Loveline">Github <svg
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                </svg>
                            </a>
                            <a href="mailto:kekicelena@gmail.com">Email <svg xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                    class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                </svg></a>

                        </div>
                        <div>
                            <p> + 39 87654321</p>
                            <p> Trieste, Italy</p>
                            <p>© 2024 Loveline. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>