$bg-gradient: linear-gradient(180deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.3) 30%);

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center !important;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: $bg-gradient, url("../../../assets/img/try12.jpg");
    backdrop-filter: blur(20px);
}

h1 {
    font-family: "Arimo";
    font-size: clamp(1rem, 9vw, 9rem);
    font-weight: bold;
    margin: 0;
    color: var(--text-color);
}

h2 {
    font-family: "Arimo";
    font-size: clamp(1rem, 5vw, 4rem);
    font-weight: bold;
    color: var(--text-color);
}

h3 {
    font-family: "Arimo";
    font-size: clamp(1rem, 5vw, 2.2rem);
    font-weight: bold;
    margin: 0;
    margin-right: -0.5em;
    color: var(--text-color);
}

a {
    display: flex;
    align-items: center;
    justify-content: right;
    font-family: "Garet";
    text-decoration: none;
    margin: 0 8px;
    color: var(--link-color);
    padding: 15px 0;
    font-size: 16px;
    transition: color 0.3s ease;
}


footer {
    margin-top: 15rem;
    position: relative;
    overflow: hidden;
    padding-bottom: 15vw;
}


span.word,
span.char {
    white-space: pre;
    display: inline-block;
}

a span.word {
    margin-right: 0.2em !important;
}

svg {
    width: 16px;
    height: 16px;
    margin-left: 8px;
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

a:hover {
    cursor: pointer;
    color: var(--text-color);
}

p {
    color: var(--text-color);
    font-size: 16px;
    font-family: "Garet";
    margin: 5px 0;
}

.loveline-logo img {
    width: 140px;
}

header {
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
    width: 100%;
    z-index: 3;
    height: 7em;
    font-family: "Arimo";
    font-size: clamp(0.66rem, 2vw, 1rem);
}

.menu {
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.menu a {
    padding: 0 0 0 3rem;
}

.links {
    display: flex;
}


.input-group {
    width: 35%;
}

.input {
    width: 100%;
    color: var(--link-color);
    height: 44px;
    background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(90px);
    border-radius: 10px;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25, .01, .25, 1) 0s, color .3s cubic-bezier(.25, .01, .25, 1) 0s, background .2s cubic-bezier(.25, .01, .25, 1) 0s;
}

.label {
    font-family: "Arimo";
    display: block;
    margin-bottom: .3rem;
    font-size: .9rem;
    font-weight: bold;
    color: var(--link-color);

    transition: color .3s cubic-bezier(.25, .01, .25, 1) 0s;
}

.input:hover,
.input:focus,
.input-group:hover .input {
    outline: none;
    border-color: var(--link-color);
}

.input-group:hover .label,
.input:focus {
    color: var(--text-color);
}

.button {
    padding: 10px 20px;
    margin: 0 3px;
    color: black;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-family: "Garet", sans-serif;
    color: var(--text-color);
    text-transform: uppercase;
    cursor: pointer;
    background-color: white;
}