* {
    box-sizing: border-box;
}

h1 {
    font-family: "Arimo";
    font-size: clamp(1rem, 9vw, 9rem);
    font-weight: bold;
    margin: 0;
    color: var(--text-color);
}

h2 {
    font-family: "Arimo";
    font-size: clamp(1rem, 5vw, 2.2rem);
    font-weight: bold;
    margin-top: 4vw;
    margin: 0;
    margin-right: -0.5em;
    color: var(--text-color);
}

h3 {
    font-family: "Arimo";
    font-size: clamp(1rem, 5vw, 2.2rem);
    font-weight: bold;
    margin: 0;
    margin-right: -0.5em;
    color: var(--text-color);
}

a {
    display: flex;
    align-items: center;
    justify-content: right;
    font-family: "Garet";
    text-decoration: none;
    margin: 0 8px;
    color: var(--link-color);
    padding: 15px 0;
    font-size: 16px;
    transition: color 0.3s ease;
}


footer {
    margin-top: 15rem;
    position: relative;
    overflow: hidden;
    padding-bottom: 15vw;
}


span.word,
span.char {
    white-space: pre;
    display: inline-block;
}

a span.word {
    margin-right: 0.2em !important;
}

svg {
    width: 16px;
    height: 16px;
    margin-left: 8px;
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

a:hover {
    cursor: pointer;
    color: var(--text-color);
}

p {
    color: var(--text-color);
    font-size: 16px;
    font-family: "Garet";
    margin: 5px 0;
}

.loveline-logo img {
    width: 140px;
}

header {
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
    width: 100%;
    z-index: 3;
    height: 7em;
    font-family: "Arimo";
    font-size: clamp(0.66rem, 2vw, 1rem);
    /*  background-color: rgba(6, 6, 6, 0.1);
    backdrop-filter: blur(10px); */
}

.menu {
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.menu a {
    padding: 0 0 0 3rem;
}

.hero-sct {
    width: 100%;
    height: 60vh;
    display: flex;
    padding: 2rem;
    margin-top: 5rem;
}

.first-sct {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 4rem;
    padding: 2rem;

    div {
        margin: 4rem 0;
    }
}


.left-1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-top: 20px;
    width: 50%;
    text-align: left;

    h2 {
        color: var(--light-pink);
    }
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 50%;
    text-align: left;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 50%;
    text-align: right;
}

/* CAROUSEL */
.carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    text-align: center;
  }
  
  .carousel {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0 2rem;
  }
  
  .carousel-item {
    flex: 0 0 auto; 
    width: fit-content; 
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0.5;
    text-align: start;
    transform: scale(0.8);
  }
  
  .carousel-item.active {
    transform: scale(1);
    opacity: 1;
  }
  
  .carousel-item.side {
    opacity: 0.4;
  }
  
  .carousel-item img {
    width: 350px;
    height: 500px;
    border-radius: 12px;
  }
  
  .carousel-caption {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: var(--text-color); 
  }
  
  .carousel-controls {
    margin-top: 10px;
  }
  
  .carousel-controls button {
    font-size: 2.2rem;
    padding: 8px 16px;
    background-color: transparent; 
    border: none;
    color: white;
    cursor: pointer;
    margin: 0 5px;
  }
  


/* FIRST SCT */

.second-sct {
    width: 100%;
    height: 100%;
    margin-top: 6rem;
}

.second-sct-title {
    text-align: end;
    padding: 2rem;
}

.faq-toggle :nth-child(1) {
    color: var(--light-blue)
}

.faq-section {
    margin-top: 4rem;
    height: 80vh;
}


.faq-title {
    padding: 2rem;
}

.faq-title p {
    font-size: 24px;
    color: var(--text-color)
}

.faq {
    border: none;
    background: none;
}


.faq-header button {
    font-family: "Garet";
    border: none;
    font-size: 28px;
    padding: 0px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}


#faqHeading-1 {
    padding: 30px 0;
    border-bottom: 1px solid var(--dark-blue);
}

#faqHeading-1 button {
    background: var(--dark-blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#faqHeading-2 {
    padding: 30px 0;
    border-bottom: 1px solid var(--light-blue);
}

#faqHeading-2 button {
    background: var(--light-blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#faqHeading-3 {
    padding: 30px 0;
    border-bottom: 1px solid var(--light-pink);
}

#faqHeading-3 button {
    background: var(--light-pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#faqHeading-4 {
    padding: 30px 0;
    border-bottom: 1px solid var(--dark-pink);
}


#faqHeading-4 button {
    background: var(--dark-pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.faq-header button:hover {
    padding-left: 10px;
    cursor: pointer;
}

.faq-questions {
    width: 90%;
    text-align: left;
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: 15px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
}

.faq-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.faq-body p {
    padding: 25px 0;
    font-size: 16px;
    color: #f3f8ff;
    line-height: 28px;
    letter-spacing: 1px;
}

.faq-body.open {
    max-height: 50vh;
}

/* SECOND SCT */

.ft-1 {
    padding-left: 1rem;
    width: 70%;
    text-align: left;
    border-left: 3px solid var(--dark-pink);

    h3 {
        color: var(--dark-pink);
    }
}

.ft-2 {
    padding-left: 1rem;
    width: 70%;
    text-align: left;
    border-left: 3px solid var(--light-pink);

    h3 {
        color: var(--light-pink);
    }
}

.ft-3 {
    padding-left: 1rem;
    width: 70%;
    text-align: left;
    border-left: 3px solid var(--light-blue);

    h3 {
        color: var(--light-blue);
    }
}

.ft-4 {
    padding-left: 1rem;
    width: 70%;
    text-align: left;
    border-left: 3px solid var(--dark-blue);

    h3 {
        color: var(--dark-blue);
    }
}


/* FOOTER */

.footer-links {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    z-index: 2;
}

.footer-title {
    position: absolute;
    bottom: -5vw;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}

.footer-title h1 {
    font-size: 20vw;
    color: var(--text-color);
}