<body>
    <header>
        <div class="loveline-logo">
            <a [routerLink]="['/']">
                <img src="../../../assets/img/Logo.gif" alt="full logo of LoveLine">
            </a>
        </div>
        <div class="menu">
            <a [routerLink]="['/about-us']">About us <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                </svg>
            </a>
            <a [routerLink]="['/login']">Log in <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                </svg>
            </a>
        </div>

    </header>

    <div class="hero-sct">
        <div class="left-1">
            <h2>
                Make it your own personal lover place
            </h2>
            <p>
                Loveline is a platform designed for couples to create a timeline of their relationship. With engaging
                quizzes and games, it helps partners celebrate their journey and strengthen their bond!
            </p>
        </div>
        <div class="right">
            <h1>ABOUT US</h1>
            <p>
                Have beautiful moments with you lover, so later you can
                add them in the timeline
            </p>
        </div>
    </div>

    <div class="carousel-container">
        <div class="carousel" #carousel>
            <div class="carousel-item" *ngFor="let item of items; let i = index" [ngClass]="{
              'active': i === currentSlide,
              'left': i === (currentSlide - 1 + items.length) % items.length,
              'right': i === (currentSlide + 1) % items.length
            }">
                <img [src]="item.image" alt="Carousel image" />
                <div class="carousel-caption" *ngIf="i === currentSlide">
                    <h3>{{ item.title }}</h3>
                    <p>{{ item.description }}</p>
                </div>
            </div>
        </div>
        <div class="carousel-controls">
            <button (click)="previousSlide()">&#8249;</button>
            <button (click)="nextSlide()">&#8250;</button>
        </div>
    </div>

    <div class="first-sct">

        <div class="left">
            <h1>UNIQUE</h1>
            <p>
                Loveline allows couples to craft a shared timeline of their relationship. <br>
                Capture special moments and relive them together.
            </p>
        </div>
        <div class="right">
            <div class="ft-1">
                <h3>Memory Timeline</h3>
                <p>Craft a beautiful timeline filled with shared moments to cherish for years to come.</p>
            </div>
            <div class="ft-2">
                <h3>Fun Quizzes</h3>
                <p>Explore quizzes that deepen your understanding of each other while having fun!

                </p>
            </div>
            <div class="ft-3">
                <h3>User-Friendly Interface</h3>
                <p>An easy-to-use interface designed specifically for couples to help them orientate better in the
                    platform</p>
            </div>
            <div class="ft-4">
                <h3>Our Mission</h3>
                <p>To help couples cherish their journey and celebrate love through shared experiences.</p>
            </div>
        </div>
    </div>

    <div class="second-sct">
        <div class="second-sct-title">
            <h1>TOGETHER</h1>
            <p>
                Find answers to your most pressing questions about Loveline and how it works.
            </p>
        </div>
        <div class="faq-section">
            <div class="faq-container">
                <div class="faq-questions">
                    <div class="faq" id="accordion">
                        <div class="faq-header" id="faqHeading-1">
                            <button class="faq-toggle" data-target="#faqCollapse-1">
                                What Is Loveline?
                            </button>
                        </div>
                        <div id="faqCollapse-1" class="faq-body">
                            <p> Loveline is a unique platform designed for couples to create shared timelines filled
                                with memorable events. You can easily add milestones, photos, and special moments to
                                reflect on together. Additionally, Loveline offers fun quizzes and games to
                                strengthen your bond.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="faq-questions">
                    <div class="faq" id="accordion">
                        <div class="faq-header" id="faqHeading-2">
                            <button class="faq-toggle" data-target="#faqCollapse-2">
                                How does it work?
                            </button>
                        </div>
                        <div id="faqCollapse-2" class="faq-body">
                            <p>Getting started is simple! Just sign up for an account, invite your partner, and
                                start adding events to your timeline. You can also explore quizzes and games to
                                enjoy together.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="faq-questions">
                    <div class="faq" id="accordion">
                        <div class="faq-header" id="faqHeading-3">
                            <button class="faq-toggle" data-target="#faqCollapse-3">
                                Is it free?
                            </button>
                        </div>
                        <div id="faqCollapse-3" class="faq-body">
                            <p>Loveline offers a free version with essential features for couples. For additional
                                functionalities, you can opt for our premium subscription. Check our pricing page
                                for more details.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="faq-questions">
                    <div class="faq" id="accordion">
                        <div class="faq-header" id="faqHeading-4">
                            <button class="faq-toggle" data-target="#faqCollapse-4">
                                How do I report an issue?
                            </button>
                        </div>
                        <div id="faqCollapse-4" class="faq-body">
                            <p>If you come across any problems while using Uberly, you have the option to
                                report them via our website to our Admins or by emailing our team.
                                We will then investigate the issue and take necessary action to resolve it.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-links">
            <div>
                <a target="_blank" href="https://www.linkedin.com/in/elena-kekic-/">Linkedin </a>
            </div>
            <div>
                <p>© 2024 Loveline. All rights reserved </p>

            </div>
            <div>
                <p>Privacy Policy</p>
            </div>
            <div>
                <a target="_blank" href="https://github.com/Elekekic/Loveline">Github</a>
            </div>
        </div>
        <div class="footer-title">
            <h1>LOVELINE</h1>
        </div>
    </footer>

</body>