* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #dcd6d8;
    font-family: "Arimo";
    overflow-y: auto;
    scroll-behavior: smooth;
}

h1 {
    font-family: "Arimo";
    font-size: clamp(1rem, 9vw, 6rem);
    word-break: break-word;
    font-weight: bold;
    text-align: left;
    color: #dcd6d8;
    width: fit-content;
    margin: 0;
}

h3 {
    font-family: "Arimo";
    margin-top: 4vw;
    margin-right: -0.5em;
    color: var(--text-color);
    width: 90vw;

    svg {
        opacity: 1;
        width: 20px;
        height: 20px;
        transform: none;
        transition: none;
        color: var(--text-color);
    }
}

a {
    font-family: "Garet";
    display: flex;
    align-items: center;
    justify-content: right;
    text-decoration: none;
    color: var(--link-color);
    padding: 15px 0;
    font-size: 16px;
    transition: color 0.3s ease;
}

svg {
    width: 16px;
    height: 16px;
    opacity: 0;
    margin-left: 8px;
    transform: scale(0.5);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

a:hover {
    cursor: pointer;
    color: #ddd7d9;
}

p {
    color: #ddd7d9;
    font-size: 26px;
    font-family: "Garet";
}

.loveline-logo img {
    width: 140px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
    width: 100%;
    z-index: 3;
    height: 7em;
    font-family: "Arimo";
    font-size: clamp(0.66rem, 2vw, 1rem);
}

.menu {
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.menu a {
    padding: 0 0 0 3rem;
}

section {
    width: 100%;
    overflow-y: auto;

    a {
        font-family: "Arimo";
        text-align: left;
        font-size: 18px;
        width: fit-content;
    }

    p {
        font-size: 20px;
    }
}

.tag {
    background: linear-gradient(to right, var(--dark-blue), var(--light-blue), var(--light-pink), var(--dark-pink));
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    margin-top: 20px;
    padding: 7px 20px;
    border-radius: 20px;
    cursor: default; 
    box-shadow: 20px 20px 60px #0e0e0e,
        -20px -20px 60px #141414;

    svg {
        opacity: 1;
        width: 20px;
        height: 20px;
        transform: none;
        transition: none;
        color: var(--text-color);
    }

    p {
        margin: 0;
        padding: 0;
        font-size: 20px;

    }
}

.timeline-sct p {
    font-size: 18px;
    margin: 0;
    padding-left: 2.2rem;
}

.hero-sct {
    display: flex;
    padding-top: 3rem;
    padding-left: 3rem;


    h1 {
        font-size: 6vw;
    }
}

.first-half {
    width: 50%;
}

.second-half {
    width: 50%;
    position: relative;
}

.second-half img {
    position: absolute;
}

.second-half img:nth-child(1) {
    rotate: -15deg;
    top: 5em;
    left: 7em;
}

.second-half img:nth-child(2) {
    rotate: 15deg;
    top: 5em;
    right: 7em;
}