<body>
    <header>
        <div class="loveline-logo">
            <a [routerLink]="['/']">
                <img src="../../../assets/img/logo.png" alt="full logo of LoveLine">
            </a>
        </div>
        <div class="menu">
            <a [routerLink]="['/about-us']">About us <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                </svg>
            </a>
            <a [routerLink]="['/how-it-works']">How it works <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                </svg>
            </a>
            <a [routerLink]="['/login']">Log in <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                </svg>
            </a>
        </div>

    </header>

    <section class="hero-sct">

        <div class="first-half">
            <h1> Create Lasting <br> Memories </h1>

            <div class="tag">
                <p>Make it your own place </p>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                </svg>
            </div>

            <p>Loveline is a platform designed for couples to create a timeline of their relationship. With engaging
                quizzes
                and
                games, it helps partners celebrate their journey and strengthen their bond! </p>

            <a> Let's start! </a>
        </div>

        <div class="second-half">

            <img src="../../../assets/img/icon-logo2.png">
        </div>
    </section>


    <section class="timeline-sct">

        <div class="progress-line"></div>

        <h3> <span> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M13.5 10.5V6.75a4.5 4.5 0 1 1 9 0v3.75M3.75 21.75h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H3.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
                </svg> </span> Discover Together </h3>
        <p> Enjoy a viery of games we have introduced for couples to dig deeper into the choices the partner would do
        </p>

        <h3> <span> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M13.5 10.5V6.75a4.5 4.5 0 1 1 9 0v3.75M3.75 21.75h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H3.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
                </svg> </span> Store Things Together</h3>
        <p> Add the milestones your relationship has done! So you can always look back at them</p>

        <h3> <span> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M13.5 10.5V6.75a4.5 4.5 0 1 1 9 0v3.75M3.75 21.75h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H3.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
                </svg> </span> Header third</h3>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti pariatur, rem est incidunt libero, commodi
            doloribus mollitia minima cumque eius sint quaerat! Veniam natus iure consequatur perferendis autem
            consequuntur
            sequi!</p>
    </section>


    <section class="quizzes-sct">
        <!-- add a section explaining how the quizzes are done -->
    </section>


    <section class="feedbacks-sct">

        <div class="contianer-feedbacks">
            <div class="feedback">
                <p>"Loveline has transformed the way my partner and I celebrate our relationship. The timeline feature allows us to cherish our special moments together like never before!"</p>
                <p>Emily Johnson</p>
                <p> User on LoveLine, in a 7 years relationship</p>
            </div>

            <div class="feedback">
                <p>"Loveline has transformed the way my partner and I celebrate our relationship. The timeline feature allows us to cherish our special moments together like never before!"</p>
                <p>Emily Johnson</p>
                <p> User on LoveLine, in a 7 years relationship</p>
            </div>

            <div class="feedback">
                <p>"Loveline has transformed the way my partner and I celebrate our relationship. The timeline feature allows us to cherish our special moments together like never before!"</p>
                <p>Emily Johnson</p>
                <p> User on LoveLine, in a 7 years relationship</p>
            </div>
        </div>
    </section>


    <footer>
        
    </footer>
</body>